@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --text-color: #F2F2F2;
    --hover-color: #12f7ff;
    --hover-color-green: #09FF47;
    --hover-color-red: #FF2415;
    --bg-color: #292e33;
    --secon-bg-color: #1f2327;
    --three-bg-color: #282E33;
    --four-bg-color: #3C454D;
    --big-font: 3.5rem;
    --norma-font: 2.5rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --neon-box-shadow-green: 0 0 .5rem #09FF47;
    --neon-box-shadow-red: 0 0 .5rem #FF2415;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3), 0 0 20px rgba(18, 247, 255, 0.3), 0 0 30px rgba(18, 247, 255, 0.3), 0 0 40px rgba(18, 247, 255, 0.3), 0 0 70px rgba(18, 247, 255, 0.3), 0 0 80px rgba(18, 247, 255, 0.3), 0 0 100px rgba(18, 247, 255, 0.3), 0 0 150px rgba(18, 247, 255, 0.3);
}


/* Barra de desplazamiento */
::-webkit-scrollbar {
    height: 0;
    width: .5rem; /* Ancho de la barra */
    background-color: #333; /* Color de fondo */
}

/* Track (pista) de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: var(--secon-bg-color); /* Color de fondo */
}

/* Handle (agarre) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: var(--hover-color); /* Color del agarre */
    border-radius: 5rem; /* Radio de borde del agarre */
}



body {
    font-family: Lato, sans-serif;
    background-color: var(--four-bg-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
}

.loader-section {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secon-bg-color);
    z-index: 999;
    transition: all 1s 1s ease-out;
    opacity: 1;
}

.loaded {
    opacity: 0;
    z-index: -1;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--hover-color-red);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

header {
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 10%;
    z-index: 3;
    background: var(--bg-color);
}


.logo img {
    width: 100px; /* Ajusta el ancho deseado */
    height: auto;
}


.language {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language-item {
    display: block;
    cursor: pointer;
}

    .language-item img {
        width: 25px; /* Ajusta el tamaño de los iconos según tus necesidades */
    }

    /*navbar2*/

.list2 {
    background-color: var(--secon-bg-color); /* Color de fondo gris */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    padding: 5px; /* Añade relleno según sea necesario */
    color: #fdfdfd;
    font-size: .4rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.navlist {
    display: flex;
}

.navlist2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Cambia de 'block' a 'flex' */
}

    .navlist2 li {
        margin-right: 20px; /* Espacio entre elementos de la lista */
    }

    .navlist2 a {
        display: inline-block;
        color: #fdfdfd;
        font-size: .8rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 10px 20px;
    }

.list2 ul li {
    position: relative;
}

.navlist a {
    display: inline-block;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 20px;
}

    .navlist a:hover {
        color: var(--hover-color);
        text-shadow: 0 0 10px rgba(18, 247, 255, 0.6), 
            0 0 20px rgba(18, 247, 255, 0.6), 
            0 0 30px rgba(18, 247, 255, 0.6), 
            0 0 40px rgba(18, 247, 255, 0.6), 
            0 0 70px rgba(18, 247, 255, 0.6), 
            0 0 80px rgba(18, 247, 255, 0.6), 
            0 0 100px rgba(18, 247, 255, 0.6), 
            0 0 150px rgba(18, 247, 255, 0.6);
    }

.navlist2 a:hover {
    color: var(--hover-color-green);
    text-shadow: 0 0 10px rgba(9, 255, 71, 0.6), 
        0 0 20px rgba(9, 255, 71, 0.6), 
        0 0 30px rgba(9, 255, 71, 0.6), 
        0 0 40px rgba(9, 255, 71, 0.6), 
        0 0 70px rgba(9, 255, 71, 0.6), 
        0 0 80px rgba(9, 255, 71, 0.6), 
        0 0 100px rgba(9, 255, 71, 0.6), 
        0 0 150px rgba(9, 255, 71, 0.6);
}

.navlist2 .active {
    color: var(--hover-color-green);
    text-shadow: 0 0 10px rgba(9, 255, 71, 0.6), 
        0 0 20px rgba(9, 255, 71, 0.6), 
        0 0 30px rgba(9, 255, 71, 0.6), 
        0 0 40px rgba(9, 255, 71, 0.6), 
        0 0 70px rgba(9, 255, 71, 0.6), 
        0 0 80px rgba(9, 255, 71, 0.6), 
        0 0 100px rgba(9, 255, 71, 0.6), 
        0 0 150px rgba(9, 255, 71, 0.6);
}

.dropdown_menu {
    display: none;
}


.navlist2 li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--secon-bg-color);
    z-index: 2;
    border-radius: 8px;
    width: 250%;
    box-shadow: var(--neon-box-shadow-green);
    color: #fdfdfd;
    font-size: .4rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

    .navlist2 li:hover .dropdown_menu ul {
        display: block;
        margin: 20px;
    }

    .navlist2 li:hover .dropdown_menu filter li {
        width: 150px;
        padding: 10px;
    }






    /*HOME------------------------*/

.home {
    min-height: 80vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4em;
}
section {
    padding: 50px 10%;
}
.home-contect {
    max-width: 600px;
}

    .home-contect h1 {
        font-size: 5rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    .home-contect p {
        font-size: 1.1rem;
        margin-top: 20px;
        align-content: center;
        text-align: justify;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.6;
    }

.whatsapp-icon {
    position: fixed;
    bottom: 70px;
    right: 70px;
    font-size: 50px;
    color: #fff;
    z-index: 9999;
    color: #4cff00;
}

    .whatsapp-icon:hover {
        color: #97ff00;
    }
.contact-text {
    display: none;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    color: #1f2327;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 4px;
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}


.whatsapp-icon:hover .contact-text {
    border: 2px solid #97ff00;
    background: #97ff00;
    box-shadow: var(--neon-box-shadow-green);
    display: block;
}

.background-video {
    position: absolute;
    top: 0;
    left: 600px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
    opacity: 0.6;
}


/*BOTONES----------------------*/



    .btn-box .btn {
        width: 220px;
        height: 45px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: var(--hover-color);
        color: var(--bg-color);
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 900;
        transition: .6s;
        box-shadow: var(--neon-box-shadow);
        border: 2px solid var(--hover-color);
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        margin-top: 25px;
    }

.btn:hover {
    color: var(--hover-color);
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btn:hover::before {
    width: 100%;
}

.btn:nth-child(1) {
    background: var(--bg-color);
    color: var(--hover-color);
}

    .btn:nth-child(1):hover {
        color: var(--bg-color);
        border: 2px solid var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }

    .btn:nth-child(1)::before {
        background: var(--hover-color);
    }

    /*TITULO------------------*/
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
    background: var(--secon-bg-color);
}
.about-content  {
    max-width: 600px;
    flex: 1 1 18rem;
    height: auto;
    padding: 2rem 1rem 2rem;
    text-align: center;
    width: 60%;
    max-width: 600px;
    border: 1px solid var(--hover-color);
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: var(--neon-box-shadow-green);
}
.about-content2 {
    flex: 1 1 18rem;
    height: auto;
    padding: 2rem 1rem 2rem;
    text-align: center;
    width: 60%;
    max-width: 600px;
    border: 1px solid var(--hover-color);
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: var(--neon-box-shadow-green);
}

.about-content span {
    color: #fdfdfd;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content p {
    font-size: 1.1rem;
    margin-top: 20px;
    align-content: center;
    text-align: justify;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
    margin: 2rem 2rem;
}
.titulo .about-content p {
}



.about-content2 span {
    color: #fdfdfd;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content2 p {
    font-size: 1.1rem;
    margin-top: 20px;
    align-content: center;
    text-align: justify;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
    margin: 2rem 2rem;
}
/*ESTADITICAS SECTION-------------------------*/

.estadisticas {
    background: var(--bg-color);
    text-align: center;
    transition: all 0.7s linear;
    color: var(--hover-color-green);
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;

}


.content {
    display: flex;
    justify-content: space-between;
    padding: 15px 10%;
    align-items: center;
    height: 50vh;
    border: 1px solid var(--hover-color);
    border-radius: 20px;
    background: var(--three-bg-color);
    box-shadow: var(--neon-box-shadow-green);
}

    .estadisticas span {
        color: var(--text-color);
        font-weight: 900;
        font-size: var(--big-font);
    }

.value {
    font-size: 5rem;
    display: block;
    font-weight: bold;
    color: #fff;
    margin: 2rem 3rem;
}


.num-con span {
    color: #fdfdfd;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.num-con h2 {
    padding: 2rem;
    text-align: center;
    border: 5px solid var(--hover-color);
    border-radius: 50%;
}

.num-con .fa-solid {
    align-items: center;
    font-size: 5rem;
    position: relative;
    color: var(--hover-color);
}

/*ALIADOS-----------------------*/

.servicios {

    grid-gap: 2rem;
    background: var(--secon-bg-color);
}
/*servicios*/

/* Estilo para el carrusel */


.swiper-container {
    width: 100%; /* Establece el ancho del contenedor al 100% del ancho de la pantalla */
    justify-content: center;
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 5px auto;
}

.swiper-slide {
    max-width: 400px; /* Ancho fijo */
    max-height: 1000px; /* Alto fijo */
    text-align: center;
    background-color: var(--secon-bg-color); /* Color de fondo del slide */
    border: 2px solid var(--hover-color);
    border-radius: 20px;
    margin: 35px;
}


.slide-content {
    padding: 50px;
}
.swiper-slide img {
    width: 396px;
    height: 264px;
    object-fit: cover; /* Para ajustar la imagen al tamaño del slide */
    border-radius: 20px;
}

/* Estilo para los títulos y descripciones */
h2 {
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform:uppercase;
    ]
}
span {
    display: inline-block;
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 20px;
}
